In [1]:
# Import Dependencies
import sqlite3
import csv
import pandas as pd

In [10]:
# Connect/Create database
# If the referenced database is not in the directory, it will be created - otherwise it will connect to the DB
connection = sqlite3.connect('SQL/beer.sqlite')

In [11]:
# Cursor used to interact with db
c = connection.cursor()

In [12]:
# Importing CSV into Pandas
df = pd.read_csv("csv_files/cleaned_beer_data_set.csv")

In [13]:
# Import dataframe into database
df.to_sql("beer_data", connection)

In [14]:
# Simple query to check that data is database
for row in c.execute("SELECT * FROM beer_data LIMIT 2"):
    print(row)

(0, 1, 'Amber', 'Altbier', 8, 'Alaskan Brewing Co.', 'Notes:Richly malty and long on the palate, with just enough hop backing to make this beautiful amber colored "alt" style beer notably well balanced.\t', 5.3, 3.65, 25, 50, 13, 32, 9, 47, 74, 33, 0, 33, 57, 8, 111)
(1, 2, 'Double Bag', 'Altbier', 8, 'Long Trail Brewing Co.', 'Notes:This malty, full-bodied double alt is also known as “Stickebier” – German slang for “secret brew”. Long Trail Double Bag was originally offered only in our brewery taproom as a special treat to our visitors. With an alcohol content of 7.2%, please indulge in moderation. The Long Trail Brewing Company is proud to have Double Bag named Malt Advocate’s “Beer of the Year” in 2001. Malt Advocate is a national magazine devoted to “expanding the boundaries of fine drinks”. Their panel of judges likes to keep things simple, and therefore of thousands of eligible competitors they award only two categories: “Imported” and “Domestic”. It is a great honor to receive this recognition.33 IBU', 7.2, 3.9, 25, 50, 12, 57, 18, 33, 55, 16, 0, 24, 35, 12, 84)

In [15]:
# Export database to dataframe to check data
df_from_db = pd.read_sql_query("SELECT * from beer_data", c)

AttributeError: 'sqlite3.Cursor' object has no attribute 'cursor'