In [15]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd

import matplotlib.pyplot as plt
import numpy as np
import hvplot.pandas

In [16]:
beer_df = pd.read_csv("cleaned_beer_data_set.csv")
beer_df.head()

,Name,Style,Style Key,Brewery,Description,ABV,Ave Rating,Min IBU,Max IBU,Astringency,Body,Alcohol,Bitter,Sweet,Sour,Salty,Fruits,Hoppy,Spices,Malty
0,Amber,Altbier,8,Alaskan Brewing Co.,"Notes:Richly malty and long on the palate, wit...",5.3,3.65,25,50,13,32,9,47,74,33,0,33,57,8,111
1,Double Bag,Altbier,8,Long Trail Brewing Co.,"Notes:This malty, full-bodied double alt is al...",7.2,3.90,25,50,12,57,18,33,55,16,0,24,35,12,84
2,Long Trail Ale,Altbier,8,Long Trail Brewing Co.,Notes:Long Trail Ale is a full-bodied amber al...,5.0,3.58,25,50,14,37,6,42,43,11,0,10,54,4,62
3,Doppelsticke,Altbier,8,Uerige Obergärige Hausbrauerei,Notes:,8.5,4.15,25,50,13,55,31,47,101,18,1,49,40,16,119
4,Scurry,Altbier,8,Off Color Brewing,Notes:Just cause it's dark and German doesn't ...,5.3,3.67,25,50,21,69,10,63,120,14,0,19,36,15,218

In [17]:
beer_df.describe()

,Style Key,ABV,Ave Rating,Min IBU,Max IBU,Astringency,Body,Alcohol,Bitter,Sweet,Sour,Salty,Fruits,Hoppy,Spices,Malty
count,5556.000000,5556.000000,5556.000000,5556.000000,5556.000000,5556.000000,5556.000000,5556.000000,5556.000000,5556.000000,5556.000000,5556.000000,5556.000000,5556.000000,5556.000000,5556.000000
mean,64.447444,6.634948,3.760481,20.719762,38.461663,15.941505,42.752880,15.978402,34.322174,53.630490,34.619330,1.314435,39.386609,38.421166,17.588553,68.599172
std,35.820549,2.521077,0.442848,13.736485,22.181782,11.625370,28.592263,18.270748,27.121062,35.867233,39.854361,3.874765,36.655173,31.916471,23.976975,44.604752
min,2.000000,0.000000,1.270000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,34.000000,5.000000,3.590000,10.000000,25.000000,8.000000,25.000000,5.000000,13.000000,27.000000,9.000000,0.000000,10.000000,14.000000,4.000000,33.000000
50%,64.000000,6.000000,3.820000,20.000000,35.000000,14.000000,38.000000,10.000000,29.000000,49.500000,21.000000,0.000000,28.000000,30.000000,9.000000,65.000000
75%,95.000000,7.900000,4.040000,25.000000,45.000000,22.000000,55.000000,20.000000,51.000000,74.000000,44.000000,1.000000,62.000000,56.000000,22.000000,99.000000
max,126.000000,57.500000,4.830000,65.000000,100.000000,83.000000,197.000000,139.000000,150.000000,263.000000,323.000000,66.000000,222.000000,193.000000,184.000000,304.000000

In [4]:
#finding null values
for column in beer_df.columns:
    print(f"Column {column} has {beer_df[column].isnull().sum()}null values")

Column Name has 0null values
Column Style has 0null values
Column Style Key has 0null values
Column Brewery has 0null values
Column Description has 0null values
Column ABV has 0null values
Column Ave Rating has 0null values
Column Min IBU has 0null values
Column Max IBU has 0null values
Column Astringency has 0null values
Column Body has 0null values
Column Alcohol has 0null values
Column Bitter has 0null values
Column Sweet has 0null values
Column Sour has 0null values
Column Salty has 0null values
Column Fruits has 0null values
Column Hoppy has 0null values
Column Spices has 0null values
Column Malty has 0null values

In [5]:
beer_df = beer_df.dropna(how='any', axis=0)

In [6]:
beer_df.count()

Name           5556
Style          5556
Style Key      5556
Brewery        5556
Description    5556
ABV            5556
Ave Rating     5556
Min IBU        5556
Max IBU        5556
Astringency    5556
Body           5556
Alcohol        5556
Bitter         5556
Sweet          5556
Sour           5556
Salty          5556
Fruits         5556
Hoppy          5556
Spices         5556
Malty          5556
dtype: int64

In [7]:
beer_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5556 entries, 0 to 5555
Data columns (total 20 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         5556 non-null   object
 1   Style        5556 non-null   object
 2   Style Key    5556 non-null   int64
 3   Brewery      5556 non-null   object
 4   Description  5556 non-null   object
 5   ABV          5556 non-null   float64
 6   Ave Rating   5556 non-null   float64
 7   Min IBU      5556 non-null   int64
 8   Max IBU      5556 non-null   int64
 9   Astringency  5556 non-null   int64
 10  Body         5556 non-null   int64
 11  Alcohol      5556 non-null   int64
 12  Bitter       5556 non-null   int64
 13  Sweet        5556 non-null   int64
 14  Sour         5556 non-null   int64
 15  Salty        5556 non-null   int64
 16  Fruits       5556 non-null   int64
 17  Hoppy        5556 non-null   int64
 18  Spices       5556 non-null   int64
 19  Malty        5556 non-null   int64
dtypes: float64(2), int64(14), object(4)
memory usage: 911.5+ KB

In [8]:
beer_df.dtypes

Name            object
Style           object
Style Key        int64
Brewery         object
Description     object
ABV            float64
Ave Rating     float64
Min IBU          int64
Max IBU          int64
Astringency      int64
Body             int64
Alcohol          int64
Bitter           int64
Sweet            int64
Sour             int64
Salty            int64
Fruits           int64
Hoppy            int64
Spices           int64
Malty            int64
dtype: object

In [9]:
beer_df.shape

(5556, 20)

In [10]:
beer_df.size

111120

In [11]:
beer_df.nunique()

Name           5317
Style           112
Style Key       112
Brewery        1498
Description    3347
ABV             229
Ave Rating      289
Min IBU          21
Max IBU          25
Astringency      73
Body            165
Alcohol         116
Bitter          141
Sweet           191
Sour            222
Salty            47
Fruits          185
Hoppy           156
Spices          155
Malty           217
dtype: int64

In [12]:
beer_df.columns

Index(['Name', 'Style', 'Style Key', 'Brewery', 'Description', 'ABV',
       'Ave Rating', 'Min IBU', 'Max IBU', 'Astringency', 'Body', 'Alcohol',
       'Bitter', 'Sweet', 'Sour', 'Salty', 'Fruits', 'Hoppy', 'Spices',
       'Malty'],
      dtype='object')

In [13]:
print(f"Duplicate entries: {beer_df.duplicated().sum()}")

Duplicate entries: 0

In [18]:
beer_df2 = beer_df.drop(columns=["Ave Rating"], inplace=True)
beer_df2.head()

AttributeError: 'NoneType' object has no attribute 'head'

In [ ]:
beer_df2.columns